.place__image {
  width: calc(100% + 16px + 16px);
  justify-self: center;
  grid-row: 3;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 100%;
    justify-self: start;
    grid-row: 2;
  }
}