.cover{
    margin: 0 auto;
    padding: 0;

    background-image: url(../../sprint-3-images/cover-trains.jpg) ;
    background-size: cover;
  background-position:center;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
    height: 200px;
    border:1px solid red;
}
.cover::before{
    opacity: .3;
}

.cover:hover::before{
opacity: .8;
}

@media screen and (min-width: 320px) {
    .cover{
        height: 480px;
    }
}
    @media screen and (min-width: 768px) {
        .cover{
            height: 640px;
        }
    }
    @media screen and (min-width: 1024px) {
        .cover{
            height: 740px;
        }
    }