.places__place{
    border:1px solid red;
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    grid-template-columns:440px auto;
    gap: 48px 32px;
    width: 100%;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:361px) {
    .places__place{
    gap: 32px;
    grid-template-columns:auto;
    }
}
    
@media screen and (min-width:769px) {
    .places__place{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 340px auto;
        gap: 48px 28px;
    }
}   
    
 @media screen and (min-width:1281px) {
.places__place{
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
}
 }