.place__url-heading{
    width: 456px;
height: 12px;
border:1px solid red;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
color: #AAAAAA;


}